#<%= @project.name %>

<%= @project.description %>

## Installation

Simply compile with the command:

> spcomp <%= @project.file_name %>.sp

and put the compiled .smx file in your `"<modname>/addons/sourcemod/plugins"`
directory.

## Cvars
<% @project.cvar_list.each do |cvar| -%>
<%= readme_cvar cvar %><% end %>

## Usage
TODO: Write instructions here
<% @project.command_list.each do |command| -%>
<%= readme_command command %><% end %>
